/*风险管理*/
.warning-info{
    padding-left: 37px;
}
@media (max-width:970px){
    .warning-info{
        padding-left: 15px;
    }
}
.text-only{
    position: relative;
    top: 9px;
}
.no-padding{
    padding: 0;
}
.warning-info span{
    display: inline-block;
    color: #666;
}
.warning-info b{
    color: #333;
}
[data-role="start-overdue"]{
    position: relative;
    z-index: 10;
}

.sm-tab{
    width: 500px;
    position: relative;
    z-index: 8;
}

.data-list-left .skip-page{
    position: absolute;
    left: 45px;
}
.data-list-left .records{
    position: relative;
    left: 95px;
    top: 7px !important;
}